.searchnavBox {
  width: 100%;
  text-align: left;
}
.searchnavBox .inputBox {
  display: inline-block;
  width: 84%;
  height: 4vh;
  border: 2px solid #ccc;
}
.searchnavBox .inputBox input {
  width: 85%;
  border: 0;
  height: 4vh;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}
.searchnavBox .inputBox .clearContent {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 10%;
  color: black;
}
.searchnavBox button {
  background-color: #1296db;
  color: white;
  border: none;
  height: 4vh;
}
